pandas~=2.0.1
numpy~=1.24.3
scikit-learn~=1.2.2
spacy~=3.3.1
srsly~=2.4.6
prodigy~=1.11.8
textacy~=0.13.0
nltk~=3.8.1
googlenews~=1.6.6
tqdm~=4.65.0
semanticscholar~=0.4.1
openalexapi~=0.0.1a0
transformers~=4.17.0